<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administration_west">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_adm_west_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Administration_west">
        <activity android:name=".Pages.ChangePasswordActivity"/>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/searchable" />

        <activity
            android:name=".Pages.DetailsProductsActivity"
            android:parentActivityName=".Pages.ProductFragment" />
        <activity android:name=".Pages.MoradasActivity" />
        <activity
            android:name=".Pages.DetailsCompaniesActivity"
            android:parentActivityName=".Pages.CompaniesFragment" />
        <activity android:name=".Pages.FinalizarCompraActivity" />
        <activity android:name=".Pages.PagamentoActivity" />
        <activity
            android:name=".Pages.CartActivity"
            android:parentActivityName=".Pages.MainActivity" />
        <activity android:name=".Pages.DepoisCarrinhoActivity" />
        <activity android:name=".Pages.ShippingAddressActivity" />
        <activity android:name=".Pages.BillingAddressActivity" />
        <activity android:name=".Pages.SendMessageActivity" />
        <activity android:name=".Pages.MainActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pages.RegisterActivity"
            android:parentActivityName=".Pages.LoginActivity" />
        <activity android:name=".Pages.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>