div.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, rgba(0,0,0,0.3)), color-stop(1, rgba(0,0,0,0.7)));
    background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: radial-gradient(ellipse farthest-corner at center, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    z-index: 2001;
}

div.dtsp-topRow button.dtsp-searchIcon {
    /* background-size: 12px; */
    border-radius: 30%;
}

div.dtsp-searchPane .dtsp-searchIcon {
    display: block;
    position: absolute;
    padding: 15px 13px;
}
td{
    vertical-align:middle;
}
th,td{
    text-align:center;
}

.dt-buttons{
    display:none;
}

.btn_white_color{
    color:white;
}
.btn-warning{
    background-color:orange;
}
.modal-title{
    font-weight:bold;
}

th,tr, td{
    white-space: nowrap;
}

.this_100{
    width:100%;
}
.status_button{
    cursor:pointer;
}